{% extends "base_layout.html" %}

{% block title %}Página Não Encontrada{% endblock %}

{% block content %}
<div class="container text-center mt-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-1 text-light">404</h1>
            <h2 class="mb-4 text-light">Oops! Página não encontrada.</h2>
            <p class="lead text-muted-light mb-4">A página que você está procurando não existe ou foi movida.</p>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg">Voltar para o Início</a>
        </div>
    </div>
</div>
{% endblock %}